.nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 3em;
    display: block;
    z-index: 1;
    text-align: center;
    top: 0;

  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
.nav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .links {
      margin-left: auto;
      margin-right: auto;
  }

  * {box-sizing:border-box}
.home {
    display: block;
    max-height: 320em;
}
.imagen {
    width: 100%;
    max-height: 30em;
}
/* Slideshow container */
.slideShow-container {
  width: 100%;
  max-height: 30em;
  position: relative;
  top: 2em;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    width: 100%;
    max-height: 30em;
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 20em;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slideShow-container .text {
  color: #000000;
  font-size: 200%;
  padding: 8px 12px;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.home .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.home .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 1em;
  background-color: #bbb;
  border-radius: 1em;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align:center;
}

.home .active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.home .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.myProyects-container {
    width: 100%;
    max-height: 32em;
    position: relative;
    margin: auto;
    
  }
  
  /* Hide the images by default */
  .myProyects {
      width: 100%;
      display: none;
      text-align: center;
  }
  
  /* Next & previous buttons */
  .prevProyect, .nextProyect {
    cursor: pointer;
    position: absolute;
    top: 5em;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .nextProyect {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prevProyect:hover, .nextProyect:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .Title{
    text-align: center;
  }
  .SubTitle{
    text-align: center;
  }
  .imgProyecto{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  